
#myNav{padding-top:0px;background: black;height:80px;width:100%;}
ul{margin-left:25%;padding:0px;list-style:none;list-style-position:fixed;background-color:red}
li{margin-top:8px;float:left;border-radius:10px;
text-align: center;
background-color:#6A5ACD;
width :175px;
height:45px;
color:#081B68;
float:left;
font-size : 25px;
transition: 0.2s;
padding-top:20px;
font-weight:bold;
font-style:italic;
margin-right:2px;}
